In [3]:
nums = {1, 2, 3}
print(nums)

{1, 2, 3}

In [4]:
mySet = {"rudra", "pujyashree", "rudra"}
print(mySet)

{'rudra', 'pujyashree'}

In [5]:
st = {True, False, 0, 1}
print(st)

{False, True}

In [6]:
print(len(nums))
print(len(mySet))
print(len(st))

3
2
2

In [7]:
print("pujyashree" in mySet)

True

In [8]:
mySet.add("niruma")
print(mySet)

{'rudra', 'niruma', 'pujyashree'}

In [9]:
nums.update((2,5,7,5))
print(nums)

{1, 2, 3, 5, 7}

In [10]:
nums.update([2,3,4,5,6,7,8])
print(nums)

{1, 2, 3, 4, 5, 6, 7, 8}

In [11]:
print(mySet)
mySet.remove("rudra")
print(mySet)

{'rudra', 'niruma', 'pujyashree'}
{'niruma', 'pujyashree'}

In [14]:
mySet.discard("rudra")

In [17]:
print(nums.pop())

3

In [19]:
nums.clear()
print(nums)

set()

In [20]:
print(st)
del st

{False, True}

In [22]:
set1 = set(("a", "b", "c"))
set2 = { 1, 2, 3 }
set3 = set1.union(set2)
print(set3)

{1, 2, 3, 'c', 'b', 'a'}

In [23]:
set1 = set(("a", "b", "c"))
set2 = { 1, 2, 3 }
set3 = set1 | set2
print(set3)

{1, 2, 3, 'c', 'b', 'a'}

In [24]:
x = {1,2,3,4}
y = [2,3,6,9]
newSet = x.union(y)
print(newSet)

{1, 2, 3, 4, 6, 9}

In [25]:
set1 = { "apple", "banana", "cherry" }
set2 = { "google", "microsoft", "apple" }
newSet = set1.intersection(set2)
print(newSet)

{'apple'}

In [26]:
set1 = { "apple", "banana", "cherry" }
set2 = { "google", "microsoft", "apple" }
newSet = set1 & set2
print(newSet)

{'apple'}

In [27]:
set1 = { "apple", "banana", "cherry" }
set2 = { "google", "microsoft", "apple" }
set1.intersection_update(set2)
print(set1)
print(set2)

{'apple'}
{'apple', 'google', 'microsoft'}

In [28]:
set1 = { "apple", "banana", "cherry" }
set2 = { "google", "microsoft", "apple" }
set3 = set1.difference(set2)
print(set3)

{'cherry', 'banana'}

In [30]:
set1 = { "apple", "banana", "cherry" }
set2 = { "google", "microsoft", "apple" }
set3 = set2 - set1
print(set3)

{'google', 'microsoft'}

In [32]:
set1 = { "apple", "banana", "cherry" }
set2 = { "google", "microsoft", "apple" }
set2.difference_update(set1)
print(set1)
print(set2)

{'apple', 'cherry', 'banana'}
{'google', 'microsoft'}

In [34]:
set1 = { "apple", "banana", "cherry" }
set2 = { "google", "microsoft", "apple" }
set3 = set2.symmetric_difference(set1)
print(set3)

{'google', 'cherry', 'banana', 'microsoft'}

In [35]:
set1 = { "apple", "banana", "cherry" }
set2 = { "google", "microsoft", "apple" }
set3 = set1 ^ set2
print(set3)

{'google', 'cherry', 'banana', 'microsoft'}

In [36]:
set1 = { "apple", "banana", "cherry" }
set2 = { "google", "microsoft", "apple" }
set1.symmetric_difference_update(set2)
print(set1)
print(set2)

{'google', 'cherry', 'banana', 'microsoft'}
{'apple', 'google', 'microsoft'}